@import "./customProperties.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primaryFont);
  background-color: var(--blueWeb);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  margin-bottom: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  line-height: 0;
}

h1 {
  font-size: 5em;
  margin: 0.67em 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media (min-width: 800px) {
  .hidden {
    display: block;
  }
}

.show {
  display: block;
}
@media (min-width: 800px) {
  .show {
    display: none;
  }
}
.btn {
  border: none;
  background-color: transparent;
  color: var(--blueWeb);
  font-size: 1.5rem;
}

.contentImg {
  border-radius: 5px;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
